# Copy this file to perf.cfg and fill in your local values
#
# This project requires a locally built Boost::regex
# See README for build instructions.

# Required: path to your locally built Boost installation
BOOST_ROOT=

# Build settings
BUILD_TYPE=RelWithDebInfo
CXX=g++
JOBS=$(nproc)

# Required: Perf targets, use only one per run
#Settings for regex_tests
PERF_TARGET=regex_tests
PERF_TARGET_ARGS=(
    "--gtest_filter=*"
    "--gtest_repeat=100"
    "--gtest_brief=1"
    "--gtest_print_time=0"
    "--gtest_color=no"
)

#Settings for regex_app
PERF_TARGET=regex_app
PERF_ARGS=(
    18      # input size
    1000    # num of iterations
)

# Perf settings
PERF_STAT_REPEAT=5
PERF_FREQUENCY=999
PERF_CALL_GRAPH=dwarf
PERF_PERCENT_LIMIT=0.5
